<div class="container">    
    <div class="row">    
      <div class="form-group col-md-12">    
        <label>Username</label>    
        <input type="text" [(ngModel)]="username" name="username" class="form-control" />    
      </div>    
      <div class="form-group col-md-12">    
        <label>Password</label>    
        <input type="password" [(ngModel)]="password" name="password" class="form-control" />    
      </div>    
      <div class="form-group col-md-3">    
        <button (click)="login()" class="btn btn-success">Login</button>    
      </div>    
    </div>    
  </div> 
