<h2>Products</h2>
<div *ngFor="let product of products">

	<app-product [name]="product.name"
    [description]='product.description'
    [price]='product.price'
  >

  </app-product>
</div>

	<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->