<div>
  <h3>
    <a [title]="name + ' details'">
      {{ name }}
    </a>
  </h3>

  <p *ngIf="description">Description: {{ description }}</p>

  <button type="button" class="btn btn-primary" (click)="showPrice()">
    <span *ngIf="!displayPrice" style="color: white;">
      click for price
    </span>

    <span *ngIf="displayPrice" style="color: white;"> $ {{ price }} </span>

    <span *ngIf="displayPrice" style="color: white;"> $ {{ price }} </span>
  </button>
</div>
